name: Render Video

on:
  workflow_dispatch:
  repository_dispatch:
    types: [run_video_render]

jobs:
  render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Render Remotion Video
        run: |
          echo "Props: ${{ github.event.client_payload.props }}"
          npx remotion render remotion/index.js FinalVideo \
            --props '${{ github.event.client_payload.props }}' \
            --output=out/video.mp4

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: final-video
          path: out/video.mp4
